@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

ul li{
    display: inline-block;
    margin: 1.7em;
}

ul a{
    text-decoration: none;
    padding: 1em;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
}

#fac:hover{
    color:blue;
}

#tw:hover,
#lk:hover,
#in:hover{
    color:cyan;
}

#gp:hover{
    color: chocolate;
}
